<div class="body">

  <div class="box">

    <span class="borderLine"></span>

      <div class="form">

        <h2>Sign up</h2>

        <form (ngSubmit)="register()"
              (keyup.enter)="register()"
        >

        <div class="inputBox">

            <input
            type="text"
            name="name"
            required="required"
            [(ngModel)]="name"
            autocomplete="username"
            >
            <span>Name</span>
            <i></i>

          </div>
        <div class="inputBox">

            <input
            type="text"
            name="email"
            required="required"
            [(ngModel)]="email"
            autocomplete="username"
            >
            <span>Email</span>
            <i></i>

          </div>

          <div class="inputBox">


            <input
            type="password"
            name="password"
            required="required"
            [(ngModel)]="password"
            autocomplete="current-password"
            >
            <span>Password</span>
            <i></i>
          </div>

          </form>

        <div class="links">
          <a routerLink="maps">Sing in</a>
        </div>

        <button class="button" (click)="register()">Register</button>

      </div>

</div>

</div>
